:targets:
- :name:
  :type:      snowflake
  :account:
  :database:
  :warehouse:
  :username:
  :password:
:variables:
  :model_version:        snowflake/web/1.0.0
  :scratch_schema:       scratch
  :output_schema:        derived
  :entropy:              ""
  :stage_next:           true
  :upsert_lookback_days:
  :skip_derived:
  :minimumVisitLength:   5
  :heartbeat:            10
  :ua_bot_filter:        true
  :iab:                  false
  :ua_parser:            false
  :yauaa:                false
:steps:
- :name: 01-stored-procedures
  :queries:
    - :name: 01-stored-procedures
      :file: standard/00-setup/01-main/01-stored-procedures.sql
      :template: true
- :name: 00-setup
  :queries:
    - :name: 00-setup
      :file: standard/02-page-views/01-main/00-setup-page-views.sql
      :template: true
- :name: 01-page-view-events
  :queries:
    - :name: 01-page-view-events
      :file: standard/02-page-views/01-main/01-page-view-events.sql
      :template: true
- :name: 02-page-view-duplicates
  :queries:
    - :name: 02-page-view-duplicates
      :file: standard/02-page-views/01-main/02-page-view-duplicates.sql
      :template: true
- :name: 03-engaged-time
  :queries:
    - :name: 03-engaged-time
      :file: standard/02-page-views/01-main/03-engaged-time.sql
      :template: true
- :name: 04-scroll-depth
  :queries:
    - :name: 04-scroll-depth
      :file: standard/02-page-views/01-main/04-scroll-depth.sql
      :template: true
- :name: 05-page-views
  :queries:
    - :name: 05-page-views
      :file: standard/02-page-views/01-main/05-page-views.sql
      :template: true
- :name: 06-page-views-metadata
  :queries:
    - :name: 06-page-views-metadata
      :file: standard/02-page-views/01-main/06-page-views-metadata.sql
      :template: true
- :name: 07-commit-page-views
  :queries:
    - :name: 07-commit-page-views
      :file: standard/02-page-views/01-main/07-commit-page-views.sql
      :template: true
