:targets:
- :name:
  :type:      snowflake
  :account:
  :database:
  :warehouse:
  :username:
  :password:
:variables:
  :model_version:      snowflake/mobile/1.1.1
  :model:              mobile
  :scratch_schema:     scratch
  :entropy:            ""
  :cleanup_mode:       all
:steps:
- :name: 99-staging-reconciliation-cleanup
  :queries:
    - :name: 99-staging-reconciliation-cleanup
      :file: tests/00-staging-reconciliation/99-complete/99-staging-reconciliation-cleanup.sql
      :template: true
