# temp dir:
tmp/

# script templates:
.scripts/templates/

# virtualenv related:
.test/bin/
.test/lib/
.test/include/
.test/.Python
.test/pip-selfcheck.json
.test/share

# great expectations related:
.test/great_expectations/results
.test/great_expectations/config
