:targets:
- :name:
  :type:     redshift
  :host:
  :database:
  :port:
  :username:
  :password:
  :ssl:
:variables:
  :model_version:      redshift/mobile/1.0.0
  :scratch_schema:     scratch
  :output_schema:      derived
  :entropy:            ""
  :cleanup_mode:       all
  :ends_run:           true
:steps:
- :name: 98-truncate-base-staged
  :queries:
    - :name: 98-truncate-base-staged
      :file: standard/03-optional-modules/01-app-errors/99-complete/98-truncate-base-mobile-staged.sql
      :template: true
- :name: 99-app-errors-cleanup
  :queries:
    - :name: 99-app-errors-cleanup
      :file: standard/03-optional-modules/01-app-errors/99-complete/99-app-errors-cleanup.sql
      :template: true
