:targets:
- :name:
  :type:     redshift
  :host:
  :database:
  :port:
  :username:
  :password:
  :ssl:
:variables:
  :input_schema:       atomic
  :scratch_schema:     scratch
  :output_schema:      derived
  :entropy:            ""
:steps:
- :name: 01-pages-setup
  :queries:
    - :name: 01-pages-setup
      :file: custom/05-pages/01-pages-setup.sql
      :template: true
- :name: 02-pages-staged
  :queries:
    - :name: 02-pages-staged
      :file: custom/05-pages/02-pages-staged.sql
      :template: true
- :name: 03-pages-upsert
  :queries:
    - :name: 03-pages-upsert
      :file: custom/05-pages/03-pages-upsert.sql
      :template: true
