:targets:
- :name:
  :type:      snowflake
  :account:
  :database:
  :warehouse:
  :username:
  :password:
:variables:
  :model_version:           snowflake/mobile/1.1.1
  :scratch_schema:          scratch
  :entropy:                 ""
:steps:
- :name: 99-session-goals-cleanup
  :queries:
    - :name: 99-session-goals-cleanup
      :file: custom/04-session-goals/99-session-goals-cleanup.sql
      :template: true
