:targets:
- :name:
  :type:    bigquery
  :project:
  :region:
:variables:
  :scratch_schema:     scratch_prod1
  :output_schema:      derived_prod1
  :entropy:            ""
:steps:
- :name: 01-page-views-join-setup
  :queries:
    - :name: 01-page-views-join-setup
      :file: custom/02-page-views-join/01-page-views-join-setup.sql
      :template: true
- :name: 02-page-views-join-staged
  :queries:
    - :name: 02-page-views-join-staged
      :file: custom/02-page-views-join/02-page-views-join-staged.sql
      :template: true
- :name: 03-page-views-join-upsert
  :queries:
    - :name: 03-page-views-join-upsert
      :file: custom/02-page-views-join/03-page-views-join-upsert.sql
      :template: true
