:targets:
- :name:
  :type:    bigquery
  :project:
  :region:
:variables:
  :scratch_schema:     scratch_prod1
  :output_schema:      derived_prod1
  :entropy:            ""
:steps:
- :name: 99-page-views-join-cleanup
  :queries:
    - :name: 99-page-views-join-cleanup
      :file: custom/02-page-views-join/99-page-views-join-cleanup.sql
      :template: true
