:targets:
- :name:
  :type:    bigquery
  :project:
  :region:
:variables:
  :model_version:         bigquery/web/1.0.2
  :scratch_schema:        scratch
  :output_schema:         derived
  :entropy:               ""
  :minimumVisitLength:    5
  :heartbeat:             10
  :ua_bot_filter:         true
  :iab:                   false
  :ua_parser:             false
  :yauaa:                 false
  :upsert_lookback_days:
  :skip_derived:
  :stage_next:            true
:steps:
- :name: 01-functions-and-procedures
  :queries:
    - :name: 01-functions-and-procedures
      :file: standard/00-setup/01-main/01-functions-and-procedures.sql
      :template: true
- :name: 00-setup
  :queries:
    - :name: 00-setup
      :file: standard/02-page-views/01-main/00-setup-page-views.sql
      :template: true
- :name: 01-page-view-events
  :queries:
    - :name: 01-page-view-events
      :file: standard/02-page-views/01-main/01-page-view-events.sql
      :template: true
- :name: 02-engaged-time
  :queries:
    - :name: 02-engaged-time
      :file: standard/02-page-views/01-main/02-engaged-time.sql
      :template: true
- :name: 03-scroll-depth
  :queries:
    - :name: 03-scroll-depth
      :file: standard/02-page-views/01-main/03-scroll-depth.sql
      :template: true
- :name: 04-contexts
  :queries:
    - :name: 04-contexts
      :file: standard/02-page-views/01-main/04-contexts.sql
      :template: true
- :name: 05-page-views
  :queries:
    - :name: 05-page-views
      :file: standard/02-page-views/01-main/05-page-views.sql
      :template: true
- :name: 06-page-views-metadata
  :queries:
    - :name: 06-page-views-metadata
      :file: standard/02-page-views/01-main/06-page-views-metadata.sql
      :template: true
- :name: 07-commit-page-views
  :queries:
    - :name: 07-commit-page-views
      :file: standard/02-page-views/01-main/07-commit-page-views.sql
      :template: true
