:targets:
- :name:
  :type:     redshift
  :host:
  :database:
  :port:
  :username:
  :password:
  :ssl:
:variables:
  :model_version:      redshift/web/1.1.0
  :input_schema:       atomic
  :scratch_schema:     scratch
  :output_schema:      derived
  :entropy:            ""
  :stage_next:         true
  :start_date:         2020-01-01
  :lookback_window:
  :days_late_allowed:
  :update_cadence:
:steps:
- :name: 00-setup-base
  :queries:
    - :name: 00-setup-base
      :file: standard/01-base/01-main/00-setup-base.sql
      :template: true
- :name: 01-new-events-limits
  :queries:
    - :name: 01-new-events-limits
      :file: standard/01-base/01-main/01-new-events-limits.sql
      :template: true
- :name: 02-run-manifest
  :queries:
    - :name: 02-run-manifest
      :file: standard/01-base/01-main/02-run-manifest.sql
      :template: true
- :name: 03-sessions-to-process
  :queries:
    - :name: 03-sessions-to-process
      :file: standard/01-base/01-main/03-sessions-to-process.sql
      :template: true
- :name: 04-sessions-to-include
  :queries:
    - :name: 04-sessions-to-include
      :file: standard/01-base/01-main/04-sessions-to-include.sql
      :template: true
- :name: 05-batch-limits
  :queries:
    - :name: 05-batch-limits
      :file: standard/01-base/01-main/05-batch-limits.sql
      :template: true
- :name: 06-events-this-run
  :queries:
    - :name: 06-events-this-run
      :file: standard/01-base/01-main/06-events-this-run.sql
      :template: true
- :name: 07-duplicates
  :queries:
    - :name: 07-duplicates
      :file: standard/01-base/01-main/07-duplicates.sql
      :template: true
- :name: 08-add-page-view-id
  :queries:
    - :name: 08-add-page-view-id
      :file: standard/01-base/01-main/08-add-page-view-id.sql
      :template: true
- :name: 09-metadata
  :queries:
    - :name: 09-metadata
      :file: standard/01-base/01-main/09-metadata.sql
      :template: true
- :name: 10-commit-base
  :queries:
    - :name: 10-commit-base
      :file: standard/01-base/01-main/10-commit-base.sql
      :template: true
