:targets:
- :name:
  :type:     redshift
  :host:
  :database:
  :port:
  :username:
  :password:
  :ssl:
:variables:
  :model_version:      redshift/web/1.3.1
  :scratch_schema:     scratch
  :output_schema:      derived
  :entropy:            ""
  :cleanup_mode:       all
  :ends_run:           true
:steps:
- :name: 99-base-cleanup
  :queries:
    - :name: 99-base-cleanup
      :file: standard/01-base/99-complete/99-base-cleanup.sql
      :template: true
- :name: XX-destroy-base
  :queries:
    - :name: XX-destroy-base
      :file: standard/01-base/XX-destroy/XX-destroy-base.sql
      :template: true
