:targets:
- :name:
  :type:      snowflake
  :account:
  :database:
  :warehouse:
  :username:
  :password:
:variables:
  :scratch_schema:     scratch
  :output_schema:      derived
  :entropy:            ""
:steps:
- :name: 1.1.1-migration
  :queries:
    - :name: alter-tables
      :file: standard/99-migrations/1.1.1-migration/alter-tables.sql
      :template: true
