:variables:
  :input_schema:        dv_test_data
  :scratch_schema:      scratch_dev1
  :output_schema:       derived_dev1
  :entropy:             ""
  :start_date:          2021-03-01
  :update_cadence_days: 1
:step:
