:targets:
- :name:
  :type:     snowflake
  :host:
  :database:
  :port:
  :username:
  :password:
  :ssl:
:variables:
  :scratch_schema:     scratch
  :output_schema:      derived
  :entropy:            ""
:steps:
- :name: 1.0.3-migration
  :queries:
    - :name: alter-tables
      :file: standard/99-migrations/1.0.3-migration/alter-tables.sql
      :template: true
