:targets:
- :name:
  :type:      snowflake
  :account:
  :database:
  :warehouse:
  :username:
  :password:
:variables:
  :model_version:        snowflake/mobile/1.1.1
  :model:                mobile
  :scratch_schema:       scratch
  :output_schema:        derived
  :entropy:              ""
  :stage_next:           true
  :upsert_lookback_days:
  :skip_derived:
:steps:
- :name: 01-stored-procedures
  :queries:
    - :name: 01-stored-procedures
      :file: standard/00-setup/01-main/01-stored-procedures.sql
      :template: true
- :name: 00-setup-screen-views
  :queries:
    - :name: 00-setup-screen-views
      :file: standard/02-screen-views/01-main/00-setup-screen-views.sql
      :template: true
- :name: 01-screen-views
  :queries:
    - :name: 01-screen-views
      :file: standard/02-screen-views/01-main/01-screen-views.sql
      :template: true
- :name: 02-screen-views-metadata
  :queries:
    - :name: 02-screen-views-metadata
      :file: standard/02-screen-views/01-main/02-screen-views-metadata.sql
      :template: true
- :name: 03-commit-screen-views
  :queries:
    - :name: 03-commit-screen-views
      :file: standard/02-screen-views/01-main/03-commit-screen-views.sql
      :template: true
