:targets:
- :name:
  :type:     redshift
  :host:
  :database:
  :port:
  :username:
  :password:
  :ssl:
:variables:
  :model_version:      redshift/mobile/1.0.0
  :scratch_schema:     scratch
  :output_schema:      derived
  :entropy:            ""
  :cleanup_mode:       all
  :ends_run:           true
:steps:
- :name: 98-truncate-base-mobile-staged
  :queries:
    - :name: 98-truncate-base-mobile-staged
      :file: standard/02-screen-views/99-complete/98-truncate-base-mobile-staged.sql
      :template: true
- :name: 99-screen-views-cleanup
  :queries:
    - :name: 99-screen-views-cleanup
      :file: standard/02-screen-views/99-complete/99-screen-views-cleanup.sql
      :template: true
