:targets:
- :name:
  :type:     redshift
  :host:
  :database:
  :port:
  :username:
  :password:
  :ssl:
:variables:
  :model_version:      redshift/web/1.2.0
  :scratch_schema:     scratch
  :output_schema:      derived
  :entropy:            ""
  :cleanup_mode:       all
  :ends_run:           true
:steps:
- :name: 99-users-cleanup
  :queries:
    - :name: 99-users-cleanup
      :file: standard/04-users/99-complete/99-users-cleanup.sql
      :template: true
- :name: XX-destroy-users
  :queries:
    - :name: XX-destroy-users
      :file: standard/04-users/XX-destroy/XX-destroy-users.sql
      :template: true
