:targets:
- :name:
  :type:    bigquery
  :project:
  :region:
:variables:
  :model_version:      bigquery/web/1.0.1
  :scratch_schema:     scratch
  :output_schema:      derived
  :entropy:            ""
:steps:
- :name: 00-setup-metadata
  :queries:
    - :name: 00-setup-metadata
      :file: standard/00-setup/01-main/00-setup-metadata.sql
      :template: true
