:targets:
- :name:
  :type:     redshift
  :host:
  :database:
  :port:
  :username:
  :password:
  :ssl:
:variables:
  :model_version:      redshift/web/1.3.1
  :scratch_schema:     scratch
  :output_schema:      derived
  :entropy:            ""
  :cleanup_mode:       all
  :ends_run:           true
:steps:
- :name: 99-page-views-cleanup
  :queries:
    - :name: 99-page-views-cleanup
      :file: standard/02-page-views/99-complete/99-page-views-cleanup.sql
      :template: true
- :name: XX-destroy-page-views
  :queries:
    - :name: XX-destroy-page-views
      :file: standard/02-page-views/XX-destroy/XX-destroy-page-views.sql
      :template: true
